@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.star-rating {
  font-family: 'FontAwesome';
  margin: 2px auto;
}
.star-rating > fieldset {
  border: none;
  display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 150%;
  color: #16a085;
}
.star-rating > fieldset:not(:checked) > label:before {
  content: '\f006  ';
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
  color: #1abc9c;
  text-shadow: 0 0 3px #1abc9c;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > input:checked ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > label:active {
  position: relative;
  top: 2px;
}

body { 
	padding-top: 70px;
}

.notes {
	padding: 0px 20px;
	color: #888;
	font-size: .9em;
	font-style: italic;

}

.hopwood {
	background: #E6E6DC;
	padding: 5px;
}

.notHopwood {
	background: #FFFFF0;
}

li {
	margin-top: 5px;

}

footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .6em; 
	color: #5e8bac;
	line-height:12px;
	background-color: #ddd;	
	padding-top: .3em;
}

footer a img {
	border: 0px;
	}
	
footer a {
	color: #5e8bac; 
	text-decoration: none;
	}

footer a:hover {
	background-color: transparent; 
	text-decoration: underline;
}

footer .mlogo {
	width: 75px;
	height: 75px;
}

.btn-toolbar {
	padding: 5px 0px;

}
.outputContainer {
	padding: 5px 20px;
	background-color: #efe;
}

.ui-datepicker-calendar {
    display: none;
}

select {
	color:#000;
}

#cancel {
	width: 50px;
	margin-top: 5px;
}

.infosection {
	margin:1rem;
	padding:.5rem;
}

.radio-inline {
	padding:2rem;
}